<!DOCTYPE html>
<html>
<head>
    <title>House Price Prediction</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <!-- <script src="script.js"></script>
	<link rel="stylesheet" href="styles.css"> -->
</head>

<body>

<div class="img"></div>
<h1 class="title">House Price Predictor</h1>

<form class="form">

    <h2 class="overall-quality">Overall Quality (Please enter a number from 1-10)</h2>
    <input class="overall-quality"  type="number" id="uiSqft" class="floatLabel" name="overall-quality" value="10">

	<h2 class="ground-area">Ground Living Area (sq. ft)</h2>
    <input class="area"  type="number" id="uiSqft" class="floatLabel" name="square-feet" value="1000">
    
    <h2 class="second-floor-area">Second Floor Area (sq. ft)</h2>
    <input class="area"  type="number" id="uiSqft" class="floatLabel" name="square-feet" value="1000">

    <h2 class="basement-area">Basement Area (sq. ft)</h2>
    <input class="area"  type="number" id="uiSqft" class="floatLabel" name="square-feet" value="1000">

    <h2 class="first-floor-area">First Floor Area (sq. ft)</h2>
    <input class="area"  type="number" id="uiSqft" class="floatLabel" name="square-feet" value="1000">

    <h2 class="lot-area">Lot Area (sq. ft)</h2>
    <input class="area"  type="number" id="uiSqft" class="floatLabel" name="square-feet" value="1000">

    <h2 class="year-built">Year Built (Please enter a year between 1873 and 2019)</h2>
    <input class="year-built"  type="number" id="uiSqft" class="floatLabel" name="year-built" value="2019">

    <h2 class="garage-cars">Garage Cars (Please enter the number of cars the garage can hold)</h2>
    <input class="garage-cars"  type="number" id="uiSqft" class="floatLabel" name="garage-cars" value="2">

</form>

<br><br><br>

<button class="submit"  type="button">Submit</button>

</body>
</html>