<!DOCTYPE html>
<html>
<head>
    <title>House Price Prediction</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    
	<!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<body>

<div class="img"></div>
<h1 class="title">House Price Predictor</h1>

<form class="form" id="form" action="/result" method="POST">

    <h2>Overall Quality (Please enter a number from 1-10)</h2>
    <input class="overall-quality"  type="number" id="overall-quality" class="floatLabel" name="overall-quality1" value="10">

	<h2>Ground Living Area (sq. ft)</h2>
    <input class="area"  type="number" id="ground-area" class="floatLabel" name="square-feet1" value="1000">
    
    <h2>Second Floor Area (sq. ft)</h2>
    <input class="area"  type="number" id="second-floor-area" class="floatLabel" name="square-feet2" value="1000">

    <h2>Basement Area (sq. ft)</h2>
    <input class="area"  type="number" id="basement-area" class="floatLabel" name="square-feet3" value="1000">

    <h2>First Floor Area (sq. ft)</h2>
    <input class="area"  type="number" id="first-floor-area" class="floatLabel" name="square-feet4" value="1000">

    <h2>Lot Area (sq. ft)</h2>
    <input class="area"  type="number" id="lot-area" class="floatLabel" name="square-feet5" value="1000">

    <h2>Year Built (Please enter a year between 1873 and 2019)</h2>
    <input class="year-built"  type="number" id="year-built" class="floatLabel" name="year-built1" value="2019">

    <h2>Garage Cars (Please enter the number of cars the garage can hold)</h2>
    <input class="garage-cars"  type="number" id="garage-cars" class="floatLabel" name="garage-cars1" value="2">

</form>

<br><br><br>

<button class="submit" id="submit" type="button">Submit</button>
    <script src="../static/js/script.js"></script>
</body>
</html>